/* General background with gradient */
* {
    background: linear-gradient(135deg, #f4f9f9, #f9f5f9);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


.date-picker-container {
    margin-bottom: 20px;
    text-align: center;
}

.date-picker-container label {
    margin-right: 10px;
    font-size: 1.2em;
    color: #1c1a1a; 
}

.date-picker-container input[type="date"] {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #feb47b;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


.date-picker-container input[type="date"]:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-color: #5fd4ff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto; /* Center the container */
}

.chart {
    width: calc(50% - 10px); 
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
    overflow: hidden;
}


.chart:hover {
    transform: translateY(-10px); 
    box-shadow: 0px 10px 20px rgb(0, 0, 0); 
}


.chart h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #3605c8;
}


@media (max-width: 768px) {
    .chart {
        width: 100%;
    }

    .container {
        justify-content: center;
    }
}


.chart-content {
    background: linear-gradient(135deg, #6a11cb, #2575fc); 
    padding: 20px;
    border-radius: 15px;
    color: rgb(3, 3, 3); 
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.date-picker-container input[type="date"]:focus {
    outline: none;
    border-color: #6a11cb;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.transition {
    transition: all 0.3s ease-in-out;
}
