* {
    background-color: #fff;
}

.date-picker-container {
    margin-bottom: 20px;
}

.date-picker-container label {
    margin-right: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 90vw; 
    margin: auto;
}

.chart {
    width: calc(50% - 10px);
    box-sizing: border-box; 
    padding: 20px;
    border: 1px solid #000; 
    text-align: center;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .chart {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .container {
        justify-content: center;
    }
}
